* {
  font-family: 'poppins', sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
}
body {
  /* padding: 1rem; */
  height: 100vh;
  background: linear-gradient(to bottom right, #e8f16a, #f32194);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  margin: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  width: 300px;
  letter-spacing: 0.5rem;
  font-weight: 800;
  background: linear-gradient(to right, #065bf8, #ff0613);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.header span {
  font-weight: 800;
  font-size: large;
}

.header a {
  text-decoration: none;
  text-decoration: underline;
  color: #411919;
}

.input_data {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0px;
  height: 40px;
  font-size: 16px;
  /* position: relative; */
}

.input_data input {
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: none;
}

/* .input_data input:hover {
  } */

.todos {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.todos ul {
  list-style: none;
  padding: 1rem;
}

.todos li {
  border: 1px solid rgb(0, 0, 0);
  margin: 0.5rem 0;
  padding: 1rem;
}

.todos button {
  position: relative;
  top: -4px;
}

.trash {
  width: 1rem;
  height: 1rem;
}
